{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
  </head>
    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li>
          <a href="{% url 'create_task' %}">Create New Task</a>
        </li>
        <li>
          <a href="{% url 'create_project' %}">Create New Project</a>
        </li>
      </ul>
    </nav>
    {% block content %}
    {% endblock%}
</html>
